/node_modules
/build
/client/node_modules

.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode

dev.js
./server/config/dev.js

# 데스크탑
node-react-chatbot-60c5c6a1960d.json
# 노트북
node-react-chatbot-10fe5ef14aaa.json